.container{
    position: relative;
    width: 100%;
    max-height: 100vh;
    background-color: #f5f5f5;
    z-index: 1;
}
/* HEADER styles */

.headqismi{
    background-color: white;
    width: 1840px;
    height: 80px;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}

.headqismi h2{
    position: absolute;
    left: 5%;
    font-family: 'Nunito', 'Sans';
    font-size: 24px;
}

.mainbutton{
    display: flex;
    position: absolute;
    right: 5%;
    margin-top: 16px;
    color: rgb(0, 0, 0);

    border-radius: 8px;
    font-size: 16px;
    font-family: 'Nunito', 'Sans';
    transition: background-color 0.3 ease;
    width: 200px;
    height: 35px;

    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
}
button:hover{
    background-color: #f0f0f0;
}

/* MAIN styles */


/* SEARCH*/
.search-filtr{
    margin-top: 60px;
    display: flex;
    width: 1840px;
    height: 60px;
}
.inputsearch{
    left: 5%;
    margin-top: -11px;
    position: absolute;
    width: 300px;
    position: absolute;
}
.inputsearch .search-icon{
    position: absolute;
    top: 20px;
    left: 12px;
    transform: translateY(-50%)
}
.inputsearch input{
    width: 300px;
    padding: 12px 12px 12px 40px;
    border: none;
    border-radius: 0px;
    background-color: white;
    font-size: 14px;
    color: #333;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}
.inputsearch input::placeholder{
    color: #999;
}

/* FILTER*/

.filterbyreg{
    position: absolute;
    margin-top: -19px;
    right: 7%;
    width: 250px;
    font-family: 'Nunito','Sans';
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.filterbyreg summary {
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.filterbyreg[open] summary{
    border-bottom: 1px solid#eee;
}

.filterbyreg ul{
    padding: 0;
    margin: 0;
    list-style:none;
}

.filterbyreg li{
    padding: 10px;
    border-radius: 5px;
    transition: background 0.2s;
    cursor: pointer;
    
}
.filterbyreg a{
    text-decoration: none;
    color:#111517;
}

.filterbyreg li:hover{
    background-color: #f0f0f0;
    text-decoration: none
}

/* MAIN CARDS */
.mainqism{
    position: absolute;
    font-family: 'Nunito', 'Sans';
    width: 1840px;

}

.councards{
    margin-left: 55px;
    width: 100%;
}

.councards ul{
    list-style: none;
    max-width: 1790px;
    height: 850px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.councards li:hover{
    background-color: #F2F2F2;
}

.councards li{
    background-color: white;
    width: 300px;
    height: 450px;
    padding: 35px;
    gap: 75px;
    padding-bottom: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 264px;
    height: 336px;

}

.councards a{
    color: #111517;
    text-decoration: none;
}

/* PAGES CARDS */

.maincardspages{
    color: black;
    background-color: white;
    font-family: 'Nunito', 'Sans';
    margin-top: 8px;
    left: 5%;
}
.maincardspages a{
    text-decoration: none;
}
.backbutton{
    display: flex;
    position: absolute;
    margin-top: -280px;
}

.backicon{
    left: 5%;
    display: flex;
    margin-left:85px;
    color: rgb(0, 0, 0);

    border-radius: 8px;
    font-size: 16px;
    font-family: 'Nunito', 'Sans';
    transition: background-color 0.3 ease;
    width: 200px;
    height: 35px;

    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
}
button:hover{
    background-color: #f0f0f0;
}

.cardsmain{
    display: flex;
    align-items: center;
    margin-top: 350px;
}

.cardsmain ul{
    left: 45%;
    position: absolute;

    margin-top: -30px;
    align-items: start;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 30px;
    
    list-style: none;
    padding-bottom: 35px;
}
.liitwo{
    margin-left: 450px;
    position: absolute;
    margin-bottom: -1px;
}

.cardsmain h3{
    font-size: 32px;
}
.cardsmain p{
    font-size: 16px;
}
.cardsmain img{
    left: 5%;
    position: absolute;
    display: flex;
    border-radius: 4px;

}

.bordercount{
    display: flex;
    position: absolute;
    align-items: center;
    gap: 10px;
    margin-top: 120px;
    left: 46.2%;
}

.bordercountt{
    border: none;
    background-color: white;
    display: flex;
    font-size: 14px;
    text-align: center;
    font-family: 'Nunito', 'Sans';
    justify-content: center;
    align-items: center;
    transition: background-color 0.3 ease;

    width: 80px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
