/* DARK MODE */
.dark-main-page{
    --header-card-bg: #2B3844;
    --body-bg: #202C36;
    --text: white;
}
/* DARK MODE */

:root {
    --header-card-bg: var(--header-card-bg);
    --body-bg: #f5f5f5;
    --text: black;
}


.container{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
}


/* HEADER styles */

.headqismi{
    background-color: var(--header-card-bg);
    height: 80px;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding-left: 81px;
    padding-right: 40px;
    justify-content: space-between;
}

.header-title{
    position: relative;
    font-family: 'Nunito', 'Sans';
    font-size: 24px;
    color: var(--text);
}

.dark-mode{
    display: flex;
    margin-top: 16px;
    color: rgb(0, 0, 0);
    position: relative;
    color: var(--text);

    border-radius: 8px;
    font-size: 16px;
    font-family: 'Nunito', 'Sans';
    transition: background-color 0.3 ease;
    width: 200px;
    height: 35px;

    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: var(--header-card-bg);
    cursor: pointer;
}
button:hover{
    background-color: #f0f0f0;
}

/* MAIN styles */


/* SEARCH*/
.search-filtr{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* FILTER*/

.filterbyreg{
    position: relative;
    left: 83%;
    width: 150px;
    font-family: 'Nunito','Sans';
    background-color: var(--header-card-bg);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 170px;
    color: var(--text);
}

.filterbyreg summary {
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.filter-ul {
    position: absolute;
    width: 170px;
    left: 0;
    
    border-radius: 10px;
    background-color: var(--header-card-bg);
}

.filterbyreg[open] summary{
    border-bottom: 1px solid#eee;
}

.filterbyreg ul{
    padding: 0;
    margin: 0;
    list-style:none;
}

.filterbyreg li{
    padding: 10px;
    border-radius: 5px;
    transition: background 0.2s;
    cursor: pointer;
    color: var(--text);
}
.filterbyreg a{
    text-decoration: none;
    color:#111517;
}

.filterbyreg li:hover{
    background-color: #f0f0f0;
    text-decoration: none
}

/* MAIN CARDS */
.mainqism{
    font-family: 'Nunito', 'Sans';
}

.coundcards-a {
    width: 264px;
}

.councards ul{
    list-style: none;
    height: 850px;
    padding-left: 81px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}
.councards li:hover{
    background-color: #f2f2f2;
}

.councards li{
    width: 100%;
    max-width: 264px;
    background-color: var(--header-card-bg);
    border-radius: 7px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 380px;
    color: var(--text);
}

.card-content {
    padding: 24px;
}

.councards a{
    color: #111517;
    text-decoration: none;
}

.hr-line {
    display: none;
}


/* Pages */

.maincardspages{
    font-family: 'Nunito', 'Sans';
    color: var(--text);
}

.maincardspages a{
    text-decoration: none;
}

.backbutton{
    display: flex;
    margin-top: 80px;
}

.backiicon {
    color: var(--text);
}

.backicon{
    left: 5%;
    display: flex;
    margin-left:85px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Nunito', 'Sans';
    width: 200px;
    height: 35px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: var(--header-card-bg);
    cursor: pointer;
    border: 2px solid var(--header-card-bg);
    margin-bottom: 40px;
}
button:hover{
    background-color: #f0f0f0;
    border: 2px solid black;
    transition: 0.5s ease;
}

/* Cards */

.cardsmain{
    display: flex;
    align-items: center;
}


.cardsmain ul{
    left: 45%;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 100px;
    list-style: none;
}
.liitwo{
    
    margin-bottom: -1px;
}

.cardsmain h3{
    font-size: 32px;
}
.cardsmain p{
    font-size: 16px;
}
.cardsmain img{
    border-radius: 4px;
    margin-left: 81px;
}

.bordercount{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 431px;
    left: 51.6%;
}

.bordercountt{
    color: var(--text);
    border: none;
    background-color: var(--header-card-bg);
    display: flex;
    font-size: 14px;
    text-align: center;
    font-family: 'Nunito', 'Sans';
    justify-content: center;
    align-items: center;
    transition: background-color 0.3 ease;
    width: 80px;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* RESPONSIVE
@media (max-width: 1440px) {
    .councards ul{
        padding-left: 81px;
        padding-right: 80px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
} */

@media (max-width: 1350px) {
    .councards ul{
        padding-left: 81px;
        padding-right: 80px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-around;
        gap: 20px;
        
    }

    .coundcards-a {
        width: 100px;
    }

    .mainqism {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1340px) {
    .maincardspages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardsmain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cardsmain ul {
        padding-left: 0;
    }

    .cardsmain img {
        margin-left: 0;
    }

    .infocount {
        text-align: center;
    }

    .liitwo {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bordercount {
        left: 0%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .backicon {
        margin-left: 0;
    }
    .headqismi {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1110px) {
    .filterbyreg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainqism {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
    }
    .filterbyreg {
        display: flex;
        position: relative;
        left: 0;
    }

    .councards li{
        width: 200px;
        font-size: 13px;
    }
    .cards-img {
        width: 200px;
    }
}

@media (max-width: 800px) {
    .councards ul {
        grid-template-columns: repeat(1,1fr);
    }

    .councards li {
        height: 360px;
    }
}

@media (max-width: 721px) {
    .headqismi {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 160px;
    }
}

@media (max-width: 641px) {
    .card-img {
        width: 100%;
        max-width: 400px;
        height: 300px;
    }

    .infocount {
        margin-top: -40px;
        width: 250px;
    }

    .hr-line {
        display: block;
    }
    
    .liitwo {
        margin-top: -20px;
    }
}

@media (max-width: 410px) {
    .header-title {
        font-size: 20px;
    }

    .mainqism {
        width: 100px;
    }
}

@media (max-width: 435px) {
    .card-img {
        width: 100%;
        max-width: 340px;
        height: 300px;
    }

    .backicon {
        margin-bottom: -15px;
        margin-top: -30px;
    }

    .bordercount {
        width: 190px;
    }
}

@media (max-width: 410px) {
    .header-title {
        font-size: 20px;
    }

    .councards ul {
        padding-left: 40px;
        padding-right: 40px;
    }
}
